{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Common CSS-->
    <link rel="stylesheet" href="{% static 'hospital_app/css/base.css' %}">

    <!--Page specific CSS-->
    {% block extra_css %} {% endblock %}
    
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        Welcome to our Hospital
    </header>
    <nav id="nav_bar">
        <span>
            <img class="logo" src="{% static 'hospital_app/images/hospital.png' %}" alt="Hospital">
        </span>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'services' %}">Services</a>
        <a href="{% url 'contact_us' %}">Contact Us</a>
        <a href="{% url 'about_us' %}">About us</a>
    </nav>
    <section id="section_bar">
        {% block content %}  {% endblock %}
    </section>

    <footer>
        <p>&copy; 2024 Hospital Management System. All rights reserved.</p>
    </footer>
</body>
</html>
